<body class="weather-app container">
  <header role="banner">
    <h1 class="weather-app__title">weather app</h1>
  </header>
  <main role="main">
    <section class="weather-app__search">
      <form (ngSubmit)="searchWeather()">
        <input
          type="text"
          [(ngModel)]="weatherData.cityName"
          name="cityName"
          placeholder="Enter city name"
        />
        <div class="weather-app__search-actions">
          <button
            class="weather-app__search-button"
            type="submit"
            (click)="onButtonClick($event)"
          >
            Search
          </button>
        </div>
        <p *ngIf="weatherData.errorMessage" class="weather-search__error">
          {{ weatherData.errorMessage }}
        </p>
      </form>
    </section>

    <section *ngIf="currentWeather" class="weather-app__current">
      <img [src]="currentWeather.current.condition.icon" alt="Weather icon" />
      <h2 class="weather-app__current-temperature">
        {{
          weatherData.isCelsius
            ? currentWeather.current.temp_c
            : currentWeather.current.temp_f
        }}°{{ weatherData.isCelsius ? "C" : "F" }}
      </h2>
      <p class="weather-app__current-location">
        {{ currentWeather.location.name }},
        {{ currentWeather.location.country }}
      </p>
      <p class="weather-app__current-condition">
        {{ currentWeather.current.condition.text }}
      </p>
      <div
        class="weather-app__sun-info"
        *ngIf="weatherData.sunriseTime && weatherData.sunsetTime"
      >
        <div class="weather-app__sunrise">
          <img
            class="weather-app__sun-icon"
            src="../../assets/images/sunrise.png"
            alt="Sunrise"
            title="Sunrise"
          />
          <p class="sun-info__time">{{ weatherData.sunriseTime }}</p>
        </div>
        <div class="weather-app__sunset">
          <img
            class="weather-app__sun-icon"
            src="../../assets/images/sunset.png"
            alt="Sunset"
            title="Sunset"
          />
          <p class="weather-app__sun-time">{{ weatherData.sunsetTime }}</p>
        </div>
      </div>

      <div class="weather-app__additional-info">
        <!-- wind speed -->
        <div *ngIf="weatherData.windSpeed" class="weather-app__info-item">
          <img
            src="../../assets/images/wind.png"
            title="Wind Speed"
            alt="wind
        speed"
          />
          <span>{{ weatherData.windSpeed }} km/h</span>
        </div>
        <!-- chance of rain -->
        <div *ngIf="weatherData.chanceOfRain" class="weather-app__info-item">
          <img
            title="The Chance of Rain"
            src="../../assets/images/chanceOfRain.png"
            alt="chance of rain"
          />
          <span>{{ weatherData.chanceOfRain }}%</span>
        </div>
        <!-- humidity -->
        <div *ngIf="weatherData.humidity" class="weather-app__info-item">
          <img
            title="Humidity"
            src="../../assets/images/humidity.png"
            alt="humidity"
          />
          <span>{{ weatherData.humidity }}%</span>
        </div>
        <!-- pressure -->
        <div *ngIf="weatherData.pressure" class="weather-app__info-item">
          <img title="Pressure" src="../../assets/images/pressure.png" alt="" />
          <span>{{ weatherData.pressure }} hPa</span>
        </div>
      </div>
      <div class="weather-app__temperature-unit-toggle">
        <button
          [class.active]="weatherData.isCelsius"
          (click)="setTemperatureUnit(true)"
          type="button"
        >
          °C
        </button>
        <button
          [class.active]="!weatherData.isCelsius"
          (click)="setTemperatureUnit(false)"
          type="button"
        >
          °F
        </button>
      </div>
    </section>

    <section *ngIf="forecast" class="weather-app__forecast-hourly">
      <button
        class="weather-app__scroll-button weather-app__scroll-button--left"
        (click)="scrollHourly('left')"
      >
        <
      </button>
      <div class="weather-app__forecast-hourly-container" #hourlyContainer>
        <div class="weather-app__forecast-hourly-temperature">
          <div
            *ngFor="
              let hour of forecast.forecast.forecastday[0].hour;
              let i = index
            "
          >
            <p class="weather-app__forecast-hourly-data" *ngIf="i % 1 === 0">
              <span class="weather-app__forecast-hourly-time">{{
                hour.time | date : "HH:mm"
              }}</span>
              <img
                class="weather-app__forecast-hourly-icon"
                [src]="hour.condition.icon"
              />
              <span class="weather-app__forecast-hourly-temp">
                {{ weatherData.isCelsius ? hour.temp_c : hour.temp_f }}°{{
                  weatherData.isCelsius ? "C" : "F"
                }}
              </span>
            </p>
          </div>
        </div>
      </div>
      <button
        class="weather-app__scroll-button weather-app__scroll-button--righ"
        (click)="scrollHourly('right')"
      >
        >
      </button>
    </section>

    <section *ngIf="forecast" class="weather-app__forecast">
      <h3 class="weather-app__forecast-title">4-Day Forecast</h3>
      <div class="weather-app__forecast-container">
        <div
          *ngFor="let day of forecast.forecast.forecastday.slice(1, 5)"
          class="weather-app__forecast-day"
        >
          <h4 class="weather-app__forecast-date">{{ day.date }}</h4>
          <img [src]="day.day.condition.icon" alt="Weather icon" />
          <p class="weather-app__forecast-condition">
            {{ day.day.condition.text }}
          </p>
          <p class="weather-app__forecast-temp">
            {{
              weatherData.isCelsius ? day.day.avgtemp_c : day.day.avgtemp_f
            }}°{{ weatherData.isCelsius ? "C" : "F" }}
          </p>
        </div>
      </div>
    </section>
  </main>
</body>
